nav{
    background:#1976d2;
    color:white;
    padding:15px;
}

h2{
    display:inline;
    margin-right:40px;
}

a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}